html {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  color: #222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
